<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <title></title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Админ панель</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<a th:href="@{'/product/create'}" class="btn btn-primary">Создать</a>
<div class="row row-cols-1 row-cols-md-1 g-4" th:each="product : ${products}">
    <div class="col">
        <div class="card">
<!--            <img th:src="@{${product.image}}" class="card-img-top" th:alt="${product.image}">-->
            <img th:src="@{'/img/' + ${product.image}}">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <p class="card-text" th:text="${product.description}"></p>
                <a th:href="@{'/edit/' + ${product.id}}" class="btn btn-primary">edit</a>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
<script src="/js/bootstrap.js"></script>
</body>
</html>