<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="#"  th:action="@{/edit}" th:object="${product}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" id="image" th:field="*{image}" class="form-control">

    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="description" th:field="*{description}" class="form-control" required>
    </div>
    <input type="file" name="imageProduct" accept="image/*" class="form-control-file">
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="ingredient" th:field="*{ingredient}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="receipt_id" th:field="*{receipt.id}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="name-customer" th:field="*{сustomer.name}" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    <button type="reset" class="btn btn-secondary">Сброс</button>
</form>
</body>
</html>