<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <title>Список товаров</title>
</head>
<body>
<div class="row row-cols-1 row-cols-md-2 g-4" th:each="product : ${products}">
    <div class="col">
        <div class="card">
            <img th:src="${product.image}" class="card-img-top" th:alt="product.">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <p class="card-text" th:text="${product.description}"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>